<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


	<!-- *************************************************************************************************** -->
	<!-- *************************************************************************************************** -->
	<!-- este contenido se utilizo para realizar cargas de datos manualmente 
		, pero dado que ahora utilizare una base de datos, no hace falta todo este 
		tipo de beans, video 12 -->
	<!-- <bean id="admin" class="com.shingo.Administrador"> -->
	<!-- <constructor-arg name="idAdmin" value="16"></constructor-arg> -->
	<!-- <constructor-arg name="nombre" value="Shingo"></constructor-arg> -->
	<!-- <property name="apellido" value="Vargas"></property> -->
	<!-- <property name="direccion" ref="direccion"></property> -->
	<!-- </bean> -->

	<!-- <bean id="direccion" class="com.shingo.Direccion"> -->
	<!-- <constructor-arg name="calle" value="Bolivia 2289"></constructor-arg> -->
	<!-- <constructor-arg name="cp" value="1744"></constructor-arg> -->
	<!-- </bean> -->
	<!-- *************************************************************************************************** -->
	<!-- *************************************************************************************************** -->

	<!-- *************************************************************************************************** -->
	<!-- *************************************************************************************************** -->
	<!-- Uso de conexion mysql -->
	<context:component-scan base-package="com.shingo"></context:component-scan>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/springdb"></property>
		<property name="username" value="shingo"></property>
		<property name="password" value="vic00to00ria00@"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven />
</beans>
